body{

    background-color: grey;
}


h1{
    color: white;
}


.container {

}
.container>div {
    width: 200px;
    height: 200px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
  
}

.pf{
   
    margin: 5px;
    background-color: orange;
}
